**/*.pyc
yocto-workdir/.repo/
yocto-workdir/
zephyr/
mallow_breakout/kicad/mallow_breakout_v*/_restore_backup_*
mallow_breakout/kicad/mallow_breakout_v*/.history/
mallow_breakout/kicad/mallow_breakout_v*/*.bak
hmp_mcuxpresso-copilot/build/
hmp_mcuxpresso-copilot/modules/
hmp_mcuxpresso-copilot/.west/
hmp_mcuxpresso-zephyr/build/
hmp_mcuxpresso-zephyr/modules/
hmp_mcuxpresso-zephyr/.west/
hmp_zephyr/build/
hmp_zephyr/modules/
hmp_zephyr/.west/
tuf/
